@{
  Layout = "_Layout";
}
@* Task = Band *@
@using BandTracker.Models;
@var bandId = @Model["band"].GetBandId();

<h1>Band List</h1>
<h2>Band: @Model["band"].GetBandName()</h2>
<hr />
@if (@Model["bands_venues"].Count != 0)
{
  <h4>This band plays at these venues:</h4>
  <ul>
    @foreach (Venue venue in @Model["bands_venues"])
    {
      <li>@venue.GetVenueName()</li>
    }
  </ul>
}
<h4>Add a venue to this band:</h4>
<form action=($'/bands/{bandId}/venues/new') method='post'>
  <label for='venue-id'>Select a venue</label>
  <select id='venue-id' name='venue-id' type='text'>
    @foreach (var venue in @Model["allVenues"])
    {
      <option value='@venue.GetVenueId()'>@venue.GetVenueName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<p><a href="/">Return to Main Page</a></p>
